#peopleListToolbar {
  .addNewPeopleButton {
    padding: 0 !important;
  }
  .inputPeopleFilter {
    max-width: none;
  }
  .selectPeopleFilter {
    width: 100px;
  }
}

.inputPeopleFilter {
  .v-input__prepend-inner {
    display: none;
  }

  input{
    padding-top: 0;
  }
}

@import "../ProfileCard/Style-mobile.less";
