#organizationalChart {

  @import "../../common/UserCard/Style.less";

  .chartVerticalLine {
    height: 38px;
  }

  .chartCompactUserCard {
    .userCardTitle p {
      line-height: 1.2;
    }
  }

  .identitySuggester .v-input__control .v-select__selections {
    padding: 10px !important;
    min-height: auto !important;
  }

  .chartPreview {
    width: 200%;
    height: 200%;
    scale: 0.5;
    pointer-events: none;
    -webkit-transform-origin: top left; /* Safari and Chrome */
    -moz-transform-origin: top left; /* Firefox */
    transform-origin: top left; /* Standard */  }
}
